body{
    margin: 20px;
}
.nombre{
    color: red;
}
.caja{
    border: 1px solid black;
    border-radius: 5px;
    /* Borrar en caso de GRID
    width: 22%;*/
    padding: 2px 15px 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    grid-column-gap: 10px;
}
img{
    width: 100%;
}
h1{
    width: 100%;
}
.numero{
    user-select: none;
    font-size: 2rem;
}